 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding:0;
  font:inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  color: rgb(137, 161, 172);
  line-height: 1.5;
  /*background-image: url('images/background.jpg');*/
  background-repeat: no-repeat;
  background: #130f4f;
  background: radial-gradient(ellipse farthest-corner at top left, rgb(29, 27, 48) 0%, rgb(79, 20, 93) 100%);
  background-size: cover;
  margin: 5%;
}
#menu {
	background: #78296f;
	background: linear-gradient(to right,  #672a6d,  #832655);
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 15px;
  	font-size: 1vw;
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	color: #FFFFFF;
	content: "\2261"; 
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 140px;
	background: #68265e;
  border-radius: 10px;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #0099CC;
}
@media screen and (max-width: 100%){
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
#title {
	margin-top: 10%;
	margin-bottom:50%;
	text-align: center;
}
#minititle {
  font-size: 1.5vw;
  margin-left: 6%;
  text-align: center;
}

/* title anim */
svg {
	width: 100%; height: 100%;
}
#title svg text {
	animation: stroke 6s 2s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 7vw;
  fill:transparent;
}
@keyframes stroke {
	0%   {
		fill: rgba(239, 244, 248, 0);
    stroke: rgb(164, 178, 200);
		stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
	}
	70%  {
    fill: rgba(228, 233, 238, 0); 
    stroke: rgb(164, 178, 200); }
	80%  {
    fill: rgba(226, 230, 234, 0);
    stroke: rgb(164, 178, 200);
    stroke-width: 3; }
	100% {
		fill: rgba(3, 10, 17, 0);
    stroke: rgb(164, 178, 200);
		stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
	}
}
.content_home {
	background-color: #832655;
	margin: 10%;
	border-radius: 10px;
	padding: 100px;
}
img,
picture {
  max-width: 100%;
  height:auto;
  object-fit: cover;
}

#aca1 {
  margin: 10% 30% 40% 30%;
}
#aca1 h1 {
  font-size: 6vw;
  text-align: center;
}
#aca1 p{
  text-align: center;
  font-size: 1.5vw;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #5f358b;
	border-radius: 10px;
}
  
  .item {
	width: 44%;
	margin: 10px;
	font-size: 1vw;
  }
  .item>img{
	width: 100%;
	margin: 10%;
	border-radius: 10px;
  }
  .item>p{
	padding: 10% 10% 10% 8%;
  }
  @media (max-width: 768px) {
	.item {
	  width: 100%;
	}
  }
  .acacont{
	text-align:center;
	font-size: 4vw;
  }
  .acatext{
	font-size: 1.2vw;
  }

  .servcont{
	text-align:center;
	font-size: 3vw;
  }
.servtitle{
	margin: 10% 20% 40% 20%;
	text-align: center;
}
.servtitle>h1{
	font-size: 5vw;
}
.servtitle>p{
	font-size: 2vw;
}
.containerserv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #5f358b;
	border-radius: 10px;
}
.servtext{
  font-size: 2vw;
}
  .item {
	width: 44%;
	margin: 10px;
	font-size: 1vw;
  }
  .item>img{
	width: 100%;
	margin: 10%;
	border-radius: 10px;
  }
  .item>p{
	padding: 10% 10% 10% 8%;
  }
.aboutus{
	text-align: center;
	margin:10% 10% 10% 10%;
}
.aboutus>h1{
	font-size: 5vw;
}

.aboutus>p{
	font-size: 1.5vw;
}